@model IEnumerable<EntregasADomicilio.Core.Entidades.Platillo>

@{
    ViewData["Title"] = "Platillos";
}

<h1>Platillos</h1>

<p>
    <a asp-action="Create">Agregar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ImagenEnBase64)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstaActivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
               @* <img alt="Embedded Image" src="data:image/png;base64,@Html.DisplayFor(modelItem => item.ImagenEnBase64)" height="100"/>*@
                <img alt="Embedded Image" src="@item.Ruta" height="100"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstaActivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Nombre)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {  id=item.Id })           
            </td>
        </tr>
}
    </tbody>
</table>
