@using EntregasADomicilio.Core.Constantes;
@model EntregasADomicilio.Core.Entidades.Pedido

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        @if (Model.Estatus.ToLower() == EstatusDelPedido.Solicitud.ToLower())
                        {
                            <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
                            <h4>@EstatusDelPedido.Solicitud</h4>
                        }
                        else
                        {
                            <i class="fa fa-2x fa-user-tie text-primary mb-4"></i>
                            <h5>@EstatusDelPedido.Solicitud</h5>
                        }
                        @* <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        @if (Model.Estatus.ToLower() == EstatusDelPedido.Preparando.ToLower())
                        {
                            <i class="fa fa-3x fa-utensils text-primary mb-4"></i>
                            <h4>@EstatusDelPedido.Preparando</h4>
                        }
                        else
                        {
                            <i class="fa fa-2x fa-utensils text-primary mb-4"></i>
                            <h5>@EstatusDelPedido.Preparando</h5>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        @if (Model.Estatus.ToLower() == EstatusDelPedido.Listo.ToLower())
                        {
                            <i class="fa fa-3x fa-cart-plus text-primary mb-4"></i>
                            <h4>@EstatusDelPedido.Listo</h4>
                        }
                        else
                        {
                            <i class="fa fa-2x fa-cart-plus text-primary mb-4"></i>
                            <h5>@EstatusDelPedido.Listo</h5>
                        }
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        @if (Model.Estatus.ToLower() == EstatusDelPedido.Entregado.ToLower())
                        {
                            <i class="fa fa-3x fa-truck text-primary mb-4"></i>
                            <h4>@EstatusDelPedido.Entregado</h4>
                        }
                        else
                        {
                            <i class="fa fa-2x fa-truck text-primary mb-4"></i>
                            <h5>@EstatusDelPedido.Entregado</h5>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Service End -->

<h4>Pedido</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Id)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Id)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Total)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.DetalleDelPedido.Sum(x=> x.Platillo.Precio))
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ClienteId)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ClienteId)
    </dd>

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.DetalleDelPedido)
    </dt>
    <dd class="col-sm-10">
        @foreach (var item in Model.DetalleDelPedido)
        {
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => item.Platillo.Nombre)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => item.Platillo.Nombre)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => item.Platillo.Descripcion)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => item.Platillo.Descripcion)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => item.Platillo.Precio)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => item.Platillo.Precio)
                </dd>
            </dl>
        }
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Comentario)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Comentario)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.FechaDeRegistro)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.FechaDeRegistro)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Estatus)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Estatus)
    </dd>
</dl>